[Unit]
Description=Collect battery statistics

[Service]
Type=simple
PIDFile=/var/run/battery-stats-collector.pid
ExecStart=/usr/bin/battery-stats-collector

[Install]
WantedBy=multi-user.target
